<h1>New subtraction</h1>

<form action="/wizard_subtract">

  <label for="form_first_number_sub">
    Subtract this:
  </label>
  <input id="form_first_number_sub" type="text" name ="first_number_sub">

  <label for="form_second_number_sub">
    from this:
  </label>
  <input id="form_second_number_sub" type="text" name="second_number_sub">

  <button type="submit">
    Subtract
  </button>
</form>
